@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  font-size: 10px;
  --yellow-1: #ffd84c;
  --yellow-2: #dab943;
  --yellow-3: rgba(255, 216, 76, 0.09);
  --grey-1: #dfdfdf; /*opacity 50%;*/
  --grey-2: #30363d;
  --grey-3: #565656;
  --green-1: #1b5d75;
  --green-2: #d7e8ee;
}
/* Reset CSS */
html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  overflow-x: hidden;
}
/* Header Styles */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 13rem;
  padding-inline: 5rem;
  padding-block: 1rem;
  background: transparent;
  transition: 0.2s linear;
  z-index: 2;
  width: 100vw;
  color: white;
}

.header__image-wrapper {
  height: 13rem;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrapper {
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.logo {
  height: 100%;
  /* background: green; */
  transition: 0.2s linear;
}

.header__anchor-list {
  position: relative;
  right: 10rem;
  font-size: 2rem;
  /* height: 20%; */
  display: flex;
  font-weight: 600;
  list-style-type: none;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
}

.button-contact {
  padding: 0.7rem;
  border: 3px solid var(--yellow-1);
  border-radius: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
.button-contact a {
  color: white;
  transition: 0.2s linear;
}
.button-contact:hover {
  background: var(--yellow-1);
}
.button-contact:hover a {
  color: black;
}
.anchor-el {
  text-decoration: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  display: inline-block;
  transition: 0.1s linear;
  color: white;
}
.anchor-el:hover {
  cursor: pointer;
}
.anchor-el::after {
  content: '';
  display: block;
  transform: scaleX(0);
  border-bottom: 0.3rem solid var(--yellow-1);
  transition: 0.2s linear;
}
.home_picture-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.anchor-el:hover::after {
  transform: scaleX(0.5);
  color: black;
}
body {
  background: white;
  overflow-x: hidden;
}
.home_picture {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  position: relative;
  z-index: -1;
  /* transition: opacity 0.5s ease; */
}
.home_picture.fade_out {
  opacity: 0;
}
.circle-wrapper {
  height: 5rem;
  width: 20rem;
  position: absolute;
  bottom: 10%;
  left: 20%;
  display: flex;
  gap: 1rem;
  /* justify-content: space-around; */
  align-items: center;
}
.circle-1,
.circle-2,
.circle-3 {
  height: 1.7rem;
  width: 1.7rem;
  background: white;
  border-radius: 100%;
}
.circle-yellow {
  background: var(--yellow-1);
}
.vision-wrapper {
  width: 20%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 40%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.typewriter {
  color: white;
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 600;
}
.see-more {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20%;
  background: var(--yellow-1);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}
.home_about-wrapper {
  display: flex;
  height: 100vh;
  /* background: grey; */
  align-items: center;
  justify-content: space-around;
  /* padding: 2rem; */
  /* gap: 10%; */
}
.home_about-decor {
  width: 20%;
  height: 80%;
  background-color: #f4f4f4;
}
.home-about_picture-wrapper {
  background: white;
  padding: 8rem;
  padding-right: 0;
  position: relative;
  top: -5%;
}
.about-home_picture {
  height: 90vh;
  width: 30vw;
}
.home_about-title {
  font-size: 5rem;

  font-weight: 600;
}
.home_about-content {
  width: 40%;
  /* background: grey; */
  height: 80vh;
  padding-top: 5rem;
  padding-left: 8%;
}
.home_about-content-contents {
  padding-top: 2rem;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.view-more {
  display: inline-block;
  margin-top: 2rem;
  background: var(--yellow-2);
  padding: 1.2rem 2rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
}
.home-product-wrapper {
  margin-top: 1%;
  background: url('bg-home.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}
.home-product-title {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 81%;
  gap: 2rem;
}
.home-product-title-title {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
}
.home-product-title-content {
  font-size: 2.5rem;
  font-weight: 200;
}
.home-product-content {
  width: 81%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.home-product {
  overflow: hidden;
  padding: 2rem;
  border-radius: 0.9rem;
  flex: 40%;
  height: 17rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s linear;
  cursor: pointer;
}
.home-product:hover {
  background: var(--yellow-2);
}
.product-picture {
  height: 95%;
  width: 100%;
}
.home-team-wrapper {
  height: 100vh;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  /* justify-content: center; */
}
.home-team-wrapper-title {
  font-size: 5rem;
  text-align: left;
}
.home-team-wrapper-title::after {
  content: '';
  display: block;
  text-align: left;
  border-bottom: 0.5rem solid var(--yellow-2);
  transform: scaleX(0.5);
  transform-origin: left;
}
.home-team-content {
  display: flex;
  flex-wrap: wrap;
  /* background: green; */
  height: 60vh;
}
.profile {
  height: 60vh;
  width: 25vw;
}

.owner {
  font-size: 4rem;
}
.role {
  font-size: 2rem;
  font-weight: 400;
}
.home-team-content-info-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  left: -20%;
}
.home-team-content-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* justify-content: center; */
  align-items: center;
}
.home-team-content-info-title {
  flex: 1;
}
.home-team-content-info-content {
  flex: 3;
  display: flex;
  width: 50vw;
  height: 46vh;
  background: var(--yellow-1);
}
.home-team-content-info-project,
.home-team-content-info-years {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.home-team-content-info-project {
  border-left: 4px solid black;
}
.home-team-content-info-subtitle {
  font-size: 2rem;
}
.home-team-content-info-digit {
  padding-top: 5rem;
  font-size: 7rem;
  font-weight: 600;
  transition: 0.2s linear;
}
.home-team-endtron {
  position: relative;
  height: 90vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background: url('home_foot.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.home-team-endtron-text {
  text-align: center;
  color: white;
  font-size: 7rem;
  font-weight: 600;
  z-index: 3;
}
.home-team-endtron-button-wrapper {
  z-index: 3;
  padding-top: 3rem;
  display: flex;
  flex-direction: rows;
  gap: 2rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  z-index: 2;
}
.learn-more-endtron {
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
  border: 0.3rem solid white;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  color: white;
  transition: 0.2s all linear;
  cursor: pointer;
}
.learn-more-endtron:hover {
  background: white;
  color: black;
}
.contact-us-endtron {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem 3rem;
  background: var(--yellow-1);
  border-radius: 0.5rem;
  transition: 0.2s all linear;
  cursor: pointer;
}
.contact-us-endtron:hover {
  background: black;
  color: var(--yellow-1);
}
footer {
  margin-top: 10rem;
  padding-inline: 3rem;
  background: var(--grey-2);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 12rem;
  padding-bottom: 0;
}
.logo-footer {
  height: 15rem;
  width: 15rem;
}
.footer-logo-text,
.footer-content-subtitle {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.footer-content-wrapper {
  display: flex;
  color: white;
  font-size: 2rem;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 0rem 12rem;
}

.footer-sosmed {
  flex: 1;
}
.footer-message,
.footer-contact,
.footer-address {
  flex: 2;
}
.footer-contact-telephone,
.footer-contact-whatsapp {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.footer-sosmed-content {
  display: flex;
  gap: 1.5rem;
}
.telephone,
.whatsapp,
.instagram,
.linkedin,
.facebook {
  display: inline-block;
  height: 4rem;
  width: 4rem;
}
.footer-foot-wrapper {
  border-top: 1.5px solid white;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}
.footer-message-anchor,
.footer-contact-whatsapp,
.footer-contact-telephone {
  text-decoration: none;
  color: white;
}
.footer-message-anchor:hover,
.footer-contact-whatsapp:hover,
.footer-contact-telephone:hover {
  text-decoration: underline;
}
.content-main {
  /* padding-inline: 4rem; */
}
.content-wrapper {
  margin-block: 7rem;
  /* padding: 5rem; */
  position: relative;
}
.content-address {
  margin-top: 12rem;
  margin-inline: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  /* background: green; */
  padding: 1.5rem;
}
.home-logo {
  font-size: 3rem;
}
.decoration {
  height: 10vh;
  width: 20vw;
  position: absolute;
  right: 0;
  background: linear-gradient(270deg, var(--grey-2), white);
}
.about-main-title,
.content-title {
  padding-top: 2rem;
  padding-inline: 5rem;
  font-size: 6rem;
  width: 20vw;
}
.content-title {
  width: 40vw;
}
.about-main-title::after,
.content-title::after {
  margin-top: 1rem;
  content: '';
  display: block;
  transform: scaleX(0.3);
  transform-origin: left;
  border-bottom: 0.6rem solid var(--yellow-2);
  transition: 0.2s linear;
}
.content-title::after {
  transform: scaleX(0.2);
  transform-origin: center;
}
.about-main-content-1,
.about-main-content-2 {
  padding-inline: 5rem;
  margin-block: 5rem;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 5rem;
}
.about-main-content-2 {
  padding-block: 5rem;
  background: var(--yellow-3);
  /* padding */
}
.about-main-content-1-content,
.about-main-content-2-content {
  display: flex;
  flex-direction: column;
}
.about_1-pic,
.about_2-pic {
  height: 50vh;
  width: 80vw;
  border-radius: 0.5rem;
}
.about_1-title,
.about_2-title,
.about_3-title,
.about_4-title {
  font-size: 4rem;
}
.about_1-detail,
.about_2-detail,
.about_3-detail,
.about_4-detail {
  /* width: 80%; */
  font-size: 2rem;
}
.about-main-content-2-content {
  text-align: right;
}
footer {
  position: relative;
  bottom: 0;
}
.about-main-content-3,
.about-main-content-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about_3-pic {
  width: 80%;
  height: 60vh;
  border-radius: 0.5rem;
}
.about-main-content-3-content,
.about-main-content-4-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 10%;
  text-align: center;
}
.about-main-content-4 {
  margin-top: 10rem;
  background: var(--yellow-3);
  padding-block: 5rem;
}
.about-main-content-4-pic-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about_4-title {
  text-align: center;
}
.about-main-content-4-pic-wrapper img {
  width: 30vw;
  border-radius: 0.5rem;
  height: 60vh;
  object-fit: cover;
}
.dropdown-icon {
  size: 2rem;
}
li {
  display: flex;
  align-items: center;
}
.anchor-el {
  position: relative;
  behavior: smooth;
}
.triangle-icon {
  position: absolute;
  top: 0.3rem;
}
.dropdown {
  position: absolute;
  top: 5rem;
  width: 30rem;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.dropdown-el {
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: 0.2s all linear;
}
.dropdown-el:hover {
  background: var(--yellow-1);
  color: black;
}
.content-title {
  margin: 0 auto;
}
.content-product-1 {
  display: flex;
  align-items: center;
  padding: 5rem;
  gap: 3rem;
  margin-top: 5rem;
}
.content-products-text {
  font-weight: 600;
  font-size: 2rem;
}
.csnri-logo {
  width: 40vw;
}
.content-product-2-sub1-wrapper {
  display: flex;
  justify-content: space-around;
}
.content-product-2 {
  position: relative;
  margin-top: 10rem;
  background: var(--grey-1);
  padding: 5rem;
}
.csnri-sub-pic {
  height: 60vh;
  width: 40vw;
}

.csnri-yellow-box {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  background: var(--yellow-1);
  margin-block: 1.5rem;
}
.content-product-2-sub2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-block: 1.5rem;
}
.csnri-source {
  color: blue;
  font-weight: bold;
}

.content-products-1-title {
  font-size: 3rem;
}
.grey {
  background: var(--grey-1);
}
.content-product-1-sub {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.magnaseal-product {
  width: 70vw;
  height: 70vh;
}
.content-title {
  text-align: center;
}

.product-seemore {
  text-decoration: none;
  font-size: 2.5rem;
  background: var(--yellow-1);
  padding: 1.5rem 2.5rem;
  text-align: center;
  font-weight: bold;
  color: black;
}
.product-seemore-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}
.product-allmet-detail {
  /* padding: 2rem; */
  /* width: 100vw;
  height: 60vh; */
  display: flex;
}
.product-allmet-cost-benefit,
.product-allmet-safety-benefit {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
}
.product-allmet-detail-title {
  font-size: 4rem;
}

.product-allmet-cost-benefit {
  background: var(--yellow-1);
}
.product-allmet-safety-benefit {
  background: var(--grey-3);
  color: white;
}
.allmet-detail {
  font-size: 2.5rem;
}
.forge_bonding-pic-wrapper {
  display: flex;
  justify-content: space-around;
}
.forge_bonding-pic {
  width: 45%;
  border-radius: 0.5rem;
}

.resimac-content-wrapper {
  background: url('resimac_content-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 4rem;
}
.resimac-content-title {
  font-size: 5rem;
  color: white;
  text-align: center;
}
.resimac-content-detail {
  display: flex;
  gap: 5%;
  padding-inline: 5%;
}
.resimac-content-about-wrapper,
.resimac-content-application-wrapper {
  flex: 1;
  position: relative;
}
.resimac-content-about-wrapper {
  background: var(--grey-3);
  color: white;
  border-radius: 0.8rem;
}
.resimac-content-about-wrapper {
  background: var(--grey-3);
  color: white;
  border-radius: 0.8rem;
}
.resimac-content-application-wrapper {
  background: var(--yellow-1);
  border-radius: 0.8rem;
}
.resimac-content-about-title,
.resimac-content-application-title {
  font-size: 3rem;
  padding: 1rem 2rem;
  color: black;
}
.resimac-content-about-title {
  background: var(--yellow-1);
}
.resimac-content-application-title {
  background: var(--grey-3);
  color: var(--yellow-1);
}
.resimac-content-about-detail,
.resimac-content-application-detail {
  padding: 2rem;
  /* margin-top: 8%; */
  font-size: 2rem;
}

.wrap {
  /* background: green; */
}
.services-title-2 {
  font-size: 5rem;
  padding: 5rem 10rem;
  color: white;
  position: relative;
  z-index: 11;
}
.services-title-2::after {
  margin-top: 1rem;
  content: '';
  display: block;
  transform: scaleX(0.05);
  transform-origin: left;
  border-bottom: 0.6rem solid var(--yellow-2);
  transition: 0.2s linear;
}
.services-title-wrapper {
  position: relative;
  padding-block: 5rem;
  z-index: 1;
}
.cp {
  background: url('corrosion_preventions.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.ppr {
  background: url('pressure_pipe_reinforcement.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.vtr {
  background: url('vessel_and_tank.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
.cwm {
  background: url('cold_work_method.png');
  background-size: cover;
  background-attachment: fixed;
}
.dts {
  background: url('downtime.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  z-index: 10;
}
section.services-content p {
  font-family: 'Radio Canada', sans-serif;
  padding: 10rem;
  font-size: 2rem;
}
.contact-button {
  text-decoration: none;
}
.content-detail {
  margin: 5rem;
  background: var(--green-1);
  height: 100vh;
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 5rem;
}
.content-detail-sub {
  /* flex: 50%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* background: yellow; */
}
.content-detail-name,
.content-detail-email,
.content-detail-textarea {
  background: var(--green-2);
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
}
.content-detail-name,
.content-detail-email {
  flex: 1;
}
.line {
  border-left: 0.3rem solid var(--yellow-1);
  gap: 2rem;
  font-size: 3rem;
  color: white;
  padding-inline: 5rem;
  /* background: green; */
}
.line h1 {
  font-size: 4rem;
  color: white;
  padding-inline: 5rem;
}
.line section {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.content-detail-textarea {
  flex: 10;
}
.contact-pic {
  height: 50%;
}
.submit {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  background: var(--yellow-1);
  padding: 1rem;
  width: 30%;
  border-radius: 1rem;
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  /* border-radius: 10px; */
  background-color: #444444;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--yellow-2);
}
 {
  overflow-y: hidden;
}
.csnri-link {
  color: black;
  text-decoration: none;
}
.csnri-link:hover {
  text-decoration: underline;
}
.location {
  color: black;
  display: block;
  text-decoration: none;
}
body {
  width: 100vw;
  overflow-x: hidden;
  /* background: green; */
}
.hamburger {
  /* background: green; */
  padding: 2rem;
  position: absolute;
  top: 3rem;
  right: 12rem;
  z-index: 12;
}
.hamburger .lines {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

.hamburger.is-active .lines:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .lines:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .lines:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.show {
  transform: scaleX(1);
}
.hide {
  transform: scaleX(0);
}
.dropdown-subtitle-space {
  margin-top: 2rem;
}
/* media queries for mobile */
@media only screen and (max-width: 600px) {
  .home_picture-wrapper {
    position: relative;
  }
  .vision-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .home_about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    transform: scaleX(0);
    height: 0;
  }
  .home-product-wrapper {
    margin: 0;
    padding: 2rem 1rem;
    padding-bottom: 4rem;
  }
  .home-team-wrapper {
    padding: 5rem;
  }
  .home-team-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .home-team-content-info-title {
    padding-top: 2rem;
    /* display: flex; */
    /* justify-content: center; */
  }
  .profile {
    width: 70%;
    height: 50%;
  }
  .quote {
    height: 1.5rem;
    width: 1.5rem;
    top: 1rem;
    left: -10%;
  }
  .owner {
    font-size: 3rem;
  }
  .home-team-content-info-content {
    width: 100vw;
  }
  .home-team-endtron {
    margin-top: 10vh;
  }
  .home-team-content-info-years,
  .home-team-content-info-project {
    position: relative;
    height: 20rem;
  }
  .home-team-content-info-digit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-team-endtron-text {
    font-size: 4rem;
  }
  .learn-more-endtron {
    font-size: 1.5rem;
    padding: 2rem 2.5rem;
    /* padding: 1rem 2rem; */
  }
  .contact-us-endtron {
    font-size: 1.5rem;
    padding: 2rem 2.5rem;
    /* padding: 1rem 2rem; */
  }
  .footer-logo-wrapper {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .footer-content-wrapper {
    padding: 0;
  }
  .logo-footer {
    height: 10rem;
    width: 10rem;
  }
  .footer-logo-text {
    width: 100%;
    font-size: 1.8rem;
    padding-bottom: 0rem;
  }
  .footer-content-subtitle {
    font-size: 2rem;
  }
  .footer-message-anchor {
    font-size: 1.5rem;
  }
  .footer-contact {
    font-size: 1.5rem;
  }
  .home-team-wrapper-title::after {
    transform: scaleX(0.3);
  }
  .hamburger-moment {
    transform: scaleX(1);
    background: rgba(0, 0, 0, 0.7);
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: flex-start;
    padding-top: 17vh;
    gap: 0;
    /* align-items: center; */
    /* justify-content:  */
    flex-direction: column;
  }
  .home {
    border-top: 0.2rem solid var(--yellow-1);
  }
  .anchor-el,
  .contact-button {
    padding-block: 2rem;
    border-bottom: 0.2rem solid var(--yellow-1);
    width: 95vw;
    text-align: left;
    font-size: 1.5rem;
    gap: 0;
  }
  .triangle-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .dropdown {
    top: 0;
    padding-top: 1rem;
    position: relative;
    width: 100%;
  }
  .anchor-el:hover::after {
    transform: scaleX(0);
  }
  .dropdown-el {
    padding-inline: 0;
  }
  .contact-button {
    text-decoration: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    display: inline-block;
    transition: 0.1s linear;
    color: white;
    border: none;
    border-bottom: 0.2rem solid var(--yellow-1);
  }
  .button-contact {
    border: none;
  }
  .up {
    top: 10%;
  }
  .content-address {
    margin-inline: 0;
  }
  .about-main-title {
    width: 100vw;
    padding-inline: 2rem;
    font-size: 5rem;
  }
  .about-main-content-1,
  .about-main-content-2,
  .about-main-content-3 {
    flex-wrap: wrap;
    padding-inline: 2rem;
  }
  .about_1-pic,
  .about_2-pic,
  .about_3-pic,
  .csnri-sub-pic {
    height: 30vh;
    width: 100%;
    padding-inline: 0;
  }
  .content-product-2-sub1 {
    margin-inlien: 0;
  }
  .about_1-detail,
  .about_2-detail,
  .about_3-detail,
  .about_4-detail {
    font-size: 1.6rem;
  }
  .content-title {
    padding-inline: 2rem;
    margin-inline: 0;
  }
  .content-title::after {
    transform: scaleX(0.6);
    transform-origin: left;
  }
  .content-product-1 {
    flex-wrap: wrap;
    padding-inline: 2rem;
  }
  .content-product-2-sub1-wrapper {
    padding-inline: 0;
  }
  .content-product-2 {
    padding-inline: 0;
  }
  .content-product-2-sub1-wrapper {
    flex-wrap: wrap;
    padding-inline: 2rem;
    margin-inline: 0;
  }
  .csnri-logo {
    width: 100%;
  }
  .content-products-text {
    font-size: 1.5rem;
  }
  .csnri-link {
    font-size: 2rem;
    height: 20vh;
  }
  .content-product-2-sub1 {
    width: 100%;
  }
  .content-product-2-sub2-wrapper {
    padding-inline: 2rem;
  }
  .csnri-source {
    font-size: 1rem;
  }
  .product-allmet-detail-title {
    font-size: 3rem;
  }
  .allmet-detail {
    font-size: 1rem;
  }
  .product-allmet-cost-benefit,
  .product-allmet-safety-benefit {
    /* height: 0; */
    padding: 2rem;
  }
  .resimac-content-title {
    font-size: 3rem;
  }
  .resimac-content-wrapper {
    padding-inline: 0;
    height: 50vh;
  }
  .resimac-content-about-title,
  .resimac-content-application-title {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .resimac-content-about-wrapper,
  .resimac-content-application-wrapper {
  }
  .resimac-content-about-detail,
  .resimac-content-application-detail {
    font-size: 1rem;
    padding: 1rem;
  }
  .services-title-2 {
    padding: 2rem;
  }
  .services-title-2::after {
    transform: scaleX(0.2);
  }
  section.services-content p {
    padding: 2rem;
    padding-top: 5rem;
    font-size: 1.5rem;
  }
  .content-detail {
    margin-inline: 2rem;
    justify-content: center;
  }
  .contact-pic {
    height: 70%;
    width: 100%;
  }
  .content-detail {
    height: 50vh;
    padding-bottom: 8rem;
  }
  .content-detail .content-detail-sub {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .submit {
    width: 110%;
    padding: 1rem 2rem;
    font-size: 2rem;
  }
  .content-detail input,
  .content-detail textarea {
    font-size: 1.5rem;
    width: 100%;
  }
  .product-allmet-detail {
    /* flex-wrap: wrap; */
  }
  .line {
    transform: scaleX(0);
  }
}
@media only screen and (max-width: 1160px) {
  .line {
    transform: scaleX(0);
  }
  .content-detail {
    height: 50vh;
  }
}
